<head>
    <style> body { margin: 0; } </style>

    <script src="http://unpkg.com/3d-force-graph"></script>
    <script src="https://unpkg.com/three"></script>
    <script src="//unpkg.com/d3-octree"></script>
    <script src="//unpkg.com/d3-force-3d"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->
    <script> 
    var dict = {
      "nodes" :
      {{ nodes|safe }},
      "links": 
      {{ edges|safe }}
    }
    </script>
  </head>

  <body>
    <div id="3d-graph"></div>

    <script>
      node_size_scale = 10
      node_color_scale = Math.pow(2,24)/144;
      const gData = {
          nodes:dict["nodes"],
          links:dict["links"],

      };

      const sizeFun = (node) => {
        return Math.log( node.degree ) / Math.log(1.5) + 2.5

      }
      const Graph = ForceGraph3D({controlType: 'orbit'})
        (document.getElementById('3d-graph'))
          .graphData(gData)
          .nodeLabel((node) => {
            return "Name: " + node.id + "<br>"
            + "Degree: " + node.degree + "<br>"
            + "Size: " + sizeFun(node)+ "<br>"
          })
          .nodeThreeObject( (node) => new THREE.Mesh(
            new THREE.SphereGeometry( sizeFun(node) ),
            new THREE.MeshLambertMaterial({
              color: node.degree * node_color_scale, //TODO: Color based on something idk
              transparent: true,
              opacity: 0.75
            })
          ))
          .nodeAutoColorBy( (node) => (Math.log(node.weight)))
          .linkWidth('weight')
          .onNodeClick(node => {
          // Aim at node from outside it
          const distance = 40;
          const distRatio = 1 + distance/Math.hypot(node.x, node.y, node.z);

          const newPos = node.x || node.y || node.z
            ? { x: node.x * distRatio, y: node.y * distRatio, z: node.z * distRatio }
            : { x: 0, y: 0, z: distance }; // special case if node is in (0,0,0)

          Graph.cameraPosition(
            newPos, // new position
            node, // lookAt ({ x, y, z })
            3000  // ms transition duration
          );
        });
      
      Graph.cooldownTime(Infinity).d3Force('collide', d3.forceCollide(Graph.nodeRelSize()))
    </script>
  </body>