<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GET THE REPO STORY</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">What's your Story?</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/graphs">Graphs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/predict">Project ideas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/timeline">Timeline</a></li>

                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1 style=”font-family:Courier;”> GET THE REPO STORY</h1>
                <p class="lead">Main Project Goal</p>
                <p>Github has become the most popular social coding platform.<br>
                    As such, it is an interesting issue to analyze the social factors of Github users and repositories.<br>
                With Software engineering field evolving at a faster rate, the applicants are expected to be competitve. <br>To stand out, it
                is important for applicants to demonstrate their skills. Github comes to your rescue.</p>

                <p class="caption">Our Application analyzes the available repositories and advices the user what projects are in th trend,<br>
                followed by the languages they are built with. This gives a sense of direction to the user!</p>
                <p class="lead">Dataset Description</p>
                <p>
                    This dataset has been scrapped by us using web crawling tools and only the important attributes have been taken into consideration .
                </p>
                <img src="{{ url_for('static', filename='images/git.png') }}" style="width: 100%,height:10%;" class="img-responsive"><br>
                <br><p class="lead">Set of Questions to be Answered</p>
                <ul style="list-style-position: inside">
                    <li>What kind of projects are viewed/forked the most?</li>
                    <li>What are the common languages?</li>
                    <li>What languages to be used for the kind of projects you mentioned</li>
                    <li>Time series of repo creation </li>

                </ul>
                <p class="lead">Programming Languages, Libraries, and Tools</p>
                <ul style="list-style-position: inside">
                    <li>Use of Plotly to create interactive plots</li>
                    
                    <li>Connect the sqlite database with the flask for querying</li>
                    <li>Use of K means algorithm for clustering</li>
                    <li>Use of Pyspark</li>
                    <li>Project to be integrated on Flask</li>
                    <li>Use of GraphX for visualization</li>
                </ul>
<!--                <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="img-responsive"><br><br>-->

            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    </body>
</html>
