<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GET THE REPO STORY</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">GET THE REPO STORY</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/graphs">Graphs</a></li>
                        <li class="nav-item"><a class="nav-link active" href="#">Project ideas</a></li>
                        <li class="nav-item"><a class="nav-link" href="/timeline">Timeline</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="contact1">
            <div class="container-contact1">
                <div class="contact1-pic js-tilt" data-tilt>
                    <img src="{{ url_for('static', filename='images/predict.png') }}" alt="IMG">
                </div>
    
                <form method="POST" class="contact1-form validate-form">
                    <span class="contact1-form-title">
                        Predict Whether Product Will be Bought!
                    </span>
    
                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="Brand" name="Brand" placeholder="Brand"><br>
                        <span class="shadow-input1"></span>
                    </div>
    
                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="Price" name="Price" placeholder="Price"><br>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="Weekday" name="Weekday" placeholder="Event Weekday:"><br>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="Cat1" name="Cat1" placeholder="Category Code Level 1:"><br>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="Cat2" name="Cat2" placeholder="Category Code Level 2:"><br>
                        <span class="shadow-input1"></span>
                    </div>

                    <div class="wrap-input1 validate-input" data-validate = "Index number is required">
                        <input class="input1" type="text" id="ActCount" name="ActCount" placeholder="Activity Count:"><br>
                        <span class="shadow-input1"></span>
                    </div>
    
    
                    <div class="container-contact1-form-btn">
                        <input type="Submit" class="btn btn-outline-dark">
                    </div><br>
                    {{ prob }}

                </form> <br>

            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    </body>
</html>
